/*Animación*/
.btn,
.nav-links a,
.theme-btn,
.logo,
.stat,
.gallery img,
.contact-form button {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    display: inline-block;/*botones*/
}
.btn:hover,
.nav-links a:hover,
.theme-btn:hover,
.logo:hover,
.stat:hover,
.gallery img:hover,
.contact-form button:hover {
    transform: translateY(-10px);
}

.projects-card{
    background:white;
    padding:2rem;
    border-radius:12px;
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.projects-card p{
    margin-bottom:.8rem;
}

.card:hover,
.card:active {
    transform: translateY(-6px);
}

.btn:hover,
.btn:active {
    transform: translateY(-6px);
}

*{
    max-width:100%;
}